Support datetime.

A `datetime` represents a particular second in UTC time using the Gregorian calendar, which must be convertable to a `date-time` string as specified by [RFC 3339 §5.6](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6), e.g. `2023-08-10T16:15:43Z`. Implementations that accept or provide a `datetime` in string form should use that format, but also require an uppercase `T`, an uppercase `Z`, no fractional sections, and no time offset. APIs that need more flexibility should use a `string` instead.